.html {
    scroll-behavior: smooth;
}

.header {
    padding: 92px 49px 92px 51px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
    font-size: 18px;
    font-weight: 400;
}

.header_links_list {
    display: flex;
    gap: 32px;
}

.header_links_list_item {
    list-style-type: circle;
}

.header_links_list_item_no-bullit {
    list-style-type: none;
} 

.header_link a {
    text-decoration: none;
    border-bottom: 1px solid #000;
}

.header_link_active {
    text-decoration: none;
}

.header_logo {
    display: block;
    width: 140px;
    position: relative;
    right: 73px;
}

.address {
    line-height: 24.3px; 
    font-style: normal;
    width: 240px;
}

.address a {
    text-decoration: none;
    border-bottom: 1px solid #000;
    white-space: nowrap;
}

.cover {
    padding: 165px 50px 50px;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #FFF;
    position: relative;
}

.overlay {
    opacity: 0.6;
    background: #000;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.cover_title {
    position: relative;
    z-index: 2;
    font-size: 100px;
    font-weight: 700;
    line-height: 100%; 
    letter-spacing: 30px;
    text-transform: uppercase;
}

.cover_title_left {
    display: block;
    text-align: left;
    font-size: 100px;
    font-weight: 700;
    line-height: 115%; 
    letter-spacing: 30px;
    text-transform: uppercase;
}

.letter_spacing_extended {
    letter-spacing: 60px;
}

.cover_title_center {
    display: block;
    text-align: center;
    margin: 20px 0;
}

.cover_title_right {
    display: block;
    text-align: right;
    font-size: 100px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 60px;
    text-transform: uppercase;
}
    
.letter_spacing_normal {
    letter-spacing: 30px;
}    

.no-letter-spacing {
    letter-spacing: 0;
}

.cover_description {
    display: flex;
    justify-content: end;
    align-items: end;
    gap: 78px;
}

.cover_text {
    position: relative;
    z-index: 2;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px; 
    text-transform: uppercase;
    margin-left: 35px;
    margin-top: 147px;
    margin-bottom: 8px;
    word-spacing: 18px;
}
  
.button {
    z-index: 2;
    border: 1px solid #FFF;
    font-family: inherit;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    background: transparent;
    padding: 12px 32px;
    color: #FFF;
    cursor: pointer
}

.lots {
    padding: 180px 50px 181px;
}

.lots_title {
    padding: 0 0 27px 40px;
    color: #000;
    font-size: 40px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.lots_list {
    display: flex;
    gap: 25px;
    list-style-type: none;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-bottom: 30px;
    
}

.lots_card_link {
    text-decoration: none;
}

.card {
    position: relative;
    width: 430px;
    min-height: 450px;
    color: #FFF;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card.card_type_film {
    background-image: url(../images/card-lot-01.jpg);  
}

.card.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card.card_type_picture {
    background-image: url(../images/card-lot-03.jpg); 
}

.card_title {
    font-size: 22px;
    font-weight: 700;
    line-height: 120%; 
    text-decoration-line: underline;
    text-transform: uppercase;
    padding: 50px 40px 0;
    z-index: 2;
}

.card_text {
    font-size: 20px;
    font-weight: 400;
    line-height: 120%; 
    padding: 0 40px 50px;
    z-index: 2;
}

.lots_link {
    color: #000;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    border-bottom: 1px solid #000;
    margin-left: 40px;
}

.about {
    padding: 0 50px 185px;
    color: #000;
    display: grid;
    grid-template-columns: 430px 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: 
    "logo title"
    ". text";
    column-gap: 25px;
}
 
.about_logo {
    background-color: #000;
    border-radius: 50%;
    width: 240px;
    height: 240px;
    grid-area: logo;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-self: center;
}

.about_logo_image {
    text-align: center;
    width: 148px;
    height: 114px;
}

.about_title {
    font-size: 40px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    grid-area: title;
    align-self: center;
    padding-top: 103px;
    padding-bottom: 103px;
}

.about_text {
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    grid-area: text;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.footer {
    padding: 0 50px 90px;
    color: #000;
    font-size: 18px;
    font-weight: 400;
    display: grid;
    grid-template-columns: 240px 1fr 240px;
    justify-content: space-between;
}

.footer_links_list {
    list-style-type: none;
}

.footer_links_list_item {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
}

.footer_links_list_item a {
    text-decoration: none;
    border-bottom: 1px solid #000;
}

.footer_links_list_item_active a {
    border-bottom: none;
}

.footer_social_list {
    display: flex;
    align-items: start;
    justify-content: space-between;
    list-style-type: none;
}

.footer_social_list_item {
    width: 48px;
    height: 48px;
}

.footer_social_link {
    width: 100%;
}